.container {
  margin: 100px 80px 80px 80px;
}

body {
  font-family: 'Roboto Mono', monospace, 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 14px;
  line-height: 2;
  font-weight: 300;
  word-spacing: -1px;
  letter-spacing: -0.2px;
  color: #7b7b7b;
  margin: 0px;
  background-color: #fff;
}

a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d9d9d9;
  padding-bottom: 2px;
  color: #7b7b7b;
  text-decoration: none;
  position: relative;
}

a:hover {
  border-bottom-width: 1px;
  border-color: #7b7b7b;
  color: #5b5b5b;
}

h1 {
  font-size: 46px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

sup {
  top: -0.1em;
  padding-left: 2px;
  position: relative;
  vertical-align: baseline;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  padding: 0 0 16px 8px;
}

@media only screen and (min-width:1024px) {

}

@media only screen and (min-width:0px) and (max-width:1023px) {
  .container {
    margin: 40px 24px 20px 24px;
  }

  body {
    line-height: 1.8;
  }

  ul {
    padding-inline-start: 26px;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 26px;
  }

  li {
    padding: 0 0 12px 4px;
  }
}
